html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {

  max-width: 980px;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: #000;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

#content {
  position: absolute;
  max-width: 980px;
  padding: 40px 20px;
}
button {
  background-color: #000;
  color: beige;
  font-family: inherit;
  text-align: center;
  font-size: 70px;
  justify-content: center;
}
button:hover {
  opacity: 1;
  right: 0;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: black;
}
a{
  font-family: 'Montserrat', sans-serif;
  color: black;
  text-decoration: none;
}
.imgcontainer{
  position:absolute;
  left:0;
  top:0;
}
* {
  box-sizing: border-box;
}

form.example input[type=text] {
  position: relative;
  padding: 15px;
  font-size: 18px;
  border: 1px solid grey;
  float: center;
  width: 75%;
  background: white;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

form.example button {
  position: relative;
  float: right;
  width: 25%;
  padding: 15px;
  background: brown;
  color: white;
  font-size: 18px;
  border: 1px solid grey;
  border-top-right-radius:25px;
  border-bottom-right-radius: 25px;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {

  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.cart{
  position: absolute;
  top:0;
  right: 0;

}
.column {
  float: right;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: brown;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: brown;
}

span.price {
  float: right;
  color: black;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  font-size: 10px;
  padding: 16px;
  background-color: grey;
}
/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    padding: 10px;
  }
}
.checkout{
  padding: 10px;
margin-bottom: 100px;
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 10%;
  border-color: white;
  border-style: dashed;
  border-radius: 5px;
}
